{% extends 'base.html' %}

{% block title %}

Details for {{ object.name }} | Finch Collector

{% endblock %}

{% block content %}

<h1>Finch Stuff Detail</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">A <span class="{{object.color.lower}}-text">{{object.color.capitalize}} </span>
            {{object.name }} </span>
    </div>
    <div class="card-action">
        <a href="{% url 'stuffs_update' object.id %}">Edit</a>
        <a href="{% url 'stuffs_delete' object.id %}">Delete</a>
    </div>
</div>

{% endblock %}