{% extends 'base.html' %}

{% block title %}

Details for {{ finch.name }} | Finch Collector

{% endblock %}

{% block content %}

<h1>Finch Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ finch.name }}</span>
                <p>Type: {{finch.type }}</p>
                <p>Colors: {{finch.colors}}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'finches_update' finch.id %}"> Edit</a>
                <a href="{% url 'finches_delete' finch.id %}"> Delete</a>
            </div>
        </div>
    </div>

    <div class="col s6">
        <form action="{% url 'add_feeding' finch.id %}" method="POST">
            {% csrf_token %}
            {{ feeding_form.as_p }}
            <input class="btn green" type="submit" value="Add Feeding">
        </form>

        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Meal</th>
                </tr>
            </thead>
            <tbody>
                {% for feeding in finch.feeding_set.all %}
                <tr>
                    <td>{{ feeding.date }}</td>
                    <td>{{ feeding.get_meal_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="row">
    <div class="col s6">
        <h3>{{ finch.name }}'s Itmes</h3>
        {% if finch.stuff.count %}
        {% for stuff in finch.stuffs.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    A <span class="{{ stuff.color.lower }}-text">{{ stuff.color.capitalize }} </span>{{ stuff.name }}
                </span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5> No Items </h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>Available Items</h3>
        {% if stuff.count %}
        {% for stuff in stuffs.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    A <span class="{{ stuff.color.lower }}-text">{{ stuff.color.capitalize }} </span>{{ stuff.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_stuff' finch.id stuff.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn blue" type="submit" value="Add">
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h4>None</h4>
        {% endif %}
    </div>

</div>
<script>
    const dateEl = document.getElementById('id_date');
    const selectEl = document.getElementById('id_meal');

    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    M.FormSelect.init(selectEl);
</script>


{% endblock %}